.gallery {
    overflow: hidden;
    white-space: nowrap;
}

.scrolling-wrapper {
    
    animation: scrollLeft 30s linear infinite;
}

.scrolling-wrapper-text {
    animation: ScrollRight 30s linear infinite;

}

@keyframes scrollLeft {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

@keyframes ScrollRight {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0); }
}


.fade-sides {
  background: linear-gradient(90deg, #0E0E0E, #1F1F1F 90%, #1F1F1F 80%, #0E0E0E);
  }

.card-bg {
  background: linear-gradient(45deg, #0E0E0E, #1F1F1F 10%, #1F1F1F 70%, #0E0E0E);
}

  /* .container.fade-sides::before,
  .container.fade-sides::after {
    content: "";
   
    top: 0;
    width: 50px;
    height: 100%;
    pointer-events: none;
  }

  .container.fade-sides::before {
    left: 0;
    background: linear-gradient(to right, #0E0E0E, #1F1F1F,#111111, transparent);
  }

  .container.fade-sides::after {
    right: 0;
    background: linear-gradient(to left, #0E0E0E, #1F1F1F, transparent);
  } */